# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# PyCharm specific
.idea/
*.iml
*.ipr
*.iws

# Virtual Environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# Editor specific backup files
*.swp
*.swo
*~

# macOS system files
.DS_Store